* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    margin-top: 80px;
}


/* general rules */
.container-small {
    max-width: 1040px;
    padding-inline: 20px;
    margin-inline: auto;
}

.container-big {
    max-width: 1240px;
    padding-inline: 20px;
    margin-inline: auto;
}

.btn {
    display: inline-block;
    padding: 0.5em 0.8em;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.btn-first {
    background-color: #0160FF;
    color: white;
}

.btn-second {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* header-menu */
nav {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    white-space: nowrap;
}

nav .top-menu {
    display: flex;
    height: 100%;
}

nav ul {
    list-style: none;
}

nav .top-menu > li {
    display: flex;
}

nav .top-menu a {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    text-decoration: none;
    color: black;
}

header .slot {
    flex-grow: 1;
}

header .logo img {
    height: 35%;
}

header .special-button {
    align-self: center;
    padding-right: 1rem;
}

header li > a:hover {
    border-bottom: 1px solid black;
}


/* header-main */
header .jumbo {
    background-color:  #B3D0E7;
}

header .container-big {
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    flex: 0 0 100%;
    font-size: 5rem;
    padding: 100px 0px 60px;
}

header .jumbo img {
    min-width: 0;
    flex: 1 1 650px;
    margin-bottom: -75px;
}

header .jumbo .text {
    flex: 1 1 278px;
}

header .text-first {
    padding-bottom: 30px;
}

header .text-second {
    padding: 30px 0px 70px;
}

#icon-arrow {
    font-size: 45px;
    color: black;
    font-weight: bold;
}


/* section subscriptions-radios */
.subscriptions .radios {
    display: flex;
    margin-bottom: 45px;
}

.subscriptions .radios .choose-first {
    padding-right: 3rem;
}


/* section subscriptions */
.subscriptions {
    padding: 160px 0px 75px; 
}

.subscriptions .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.subscriptions .card {
    flex: 0 0 calc((100% - 50px * 2) / 3);
    border: 1px solid #DCDCDE;
}

.subscriptions .card-full { 
    flex: 0 0 100%;
}

.subscriptions .card .heading {
    border-bottom: 1px solid #DCDCDE;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.subscriptions .card .contents {
    padding-inline: 1.5rem;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.subscriptions ul {
    list-style: none;
}

.subscriptions .card .btn { 
    display: block; 
}

.subscriptions .card .ohter::after {
   content: '';
   display: block;
   width: 30%;
   border-bottom: 1px solid #DCDCDE;
   padding-top: 2rem;
   margin-bottom: 3rem;
}

.subscriptions .card-full .contents {
    display: flex;
    justify-content: space-between;
}

.subscriptions .card .text {
    flex: 0 0 60%;
}

.subscriptions .card .action {
    flex: 0 0 20%;
}

.subscriptions h2 {
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 60px;
}

.subscriptions .contents h3 {
    padding-bottom: 20px;
}

.subscriptions .contents .price {
    font-weight: 700;
}

.subscriptions .contents .month {
    padding-top: 15px;
    padding-bottom: 50px;
    color: #E5E5E7;
}

.subscriptions .contents li {
    padding-bottom: 20px;
}

.subscriptions .contents .last {
    padding-bottom: 50px;
}

.subscriptions .contents .ohter {
    padding-top: 35px;
}

.subscriptions h4 {
    padding-bottom: 2rem;
}

.subscriptions .contents .ohter a,
.subscriptions .contents .checks i {
    color: #0160FF;
}

.subscriptions .card-full h3 {
   font-size: 1.7rem;
}


/* section partners */
.partners .container-small {
    display: flex;
    gap: 2rem;
    padding: 75px 0px 80px;
}

.partners .container-small img {
    min-width: 0;
    flex: 0 0 60%;
    padding-inline-end: 20px;
}

.partners .text {
    flex: 0 0 calc(40% - 2rem);
    padding-top: 55px;
}

.partners .text h2 {
    line-height: 1.5em;
}

.partners .text p {
    padding: 20px 0px 30px;
}


/* section operation */
.operation {
	padding-top: 80px;
	padding-bottom: 105px;
}

.operation .container-small {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
}

.operation h2 {
	flex: 0 0 100%;
}

.operation .card {
	flex: 0 0 calc((100% - 2 * 3rem) / 3);
}

.operation img {
	width: 100%;
}

.operation h2 {
    font-size: 2.5rem;
}

.operation .card h3 {
    line-height: 1.7em;
    padding-bottom: 25px;
}


