* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    margin-top: 80px;
}


/* general rules */
.container-small {
    max-width: 1040px;
    padding-inline: 20px;
    margin-inline: auto;
}

.container-big {
    max-width: 1240px;
    padding-inline: 20px;
    margin-inline: auto;
}

.btn {
    display: inline-block;
    padding: 0.5em 0.8em;
    white-space: nowrap;
    text-decoration: none;
}

.btn-first {
    background-color: #0160FF;
    color: white;
}


/* header-menu */
nav {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    white-space: nowrap;
}

nav .top-menu {
    display: flex;
    height: 100%;
}

nav ul {
    list-style: none;
}

nav .top-menu > li {
    display: flex;
}

nav .top-menu a {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    text-decoration: none;
    color: black;
}

header .slot {
    flex-grow: 1;
}

header .logo img {
    height: 35%;
}

header .special-button {
    align-self: center;
    padding-right: 1rem;
}

header li > a:hover {
    border-bottom: 1px solid black;
}


/* header-main */
header .jumbo {
    background-color:  #B3D0E7;
}

header .container-big {
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    flex: 0 0 100%;
    font-size: 5rem;
    padding: 100px 0px 60px;
}

header .jumbo img {
    min-width: 0;
    flex: 1 1 650px;
    margin-bottom: -75px;
}

header .jumbo .text {
    flex: 1 1 278px;
}

header .text-first {
    padding-bottom: 30px;
}

header .text-second {
    padding: 30px 0px 70px;
}

#icon-arrow {
    font-size: 45px;
    color: black;
    font-weight: bold;
}